$primary: #d70f61;
$primaryHover: #c11828;
$Outline: #f9eef2;
$secondary: #c11828;
$black: #1f1f1f;
$background: #fbf9f7;
$white: #ffffff;
$gray-primary: #ecedef;
$danger: #ed0b0b;
$hover-purple:#280645;
$hover-white: #e7e4e4;