<app-nav-bar></app-nav-bar>
<div class="container-itens px-5 mx-5">
  <div class="d-flex justify-content-center mt-4">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/promo1.JPG" class="d-block" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/assets/img/promo2.JPG" class="d-block" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/assets/img/promo3.JPG" class="d-block" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <i class="bi bi-caret-left-fill"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <i class="bi bi-caret-right-fill"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="offers">
    <div class="font-bold font-title-s mx-5 my-4">
      <h4>Ofertas em destaque</h4>
    </div>
    <ul class="row">
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta1.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta4.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta3.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta8.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3 mt-3">
        <a class="go-offers">
          <img src="/assets/img/oferta5.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3 mt-3">
        <a class="go-offers">
          <img src="/assets/img/oferta7.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3 mt-3">
        <a class="go-offers">
          <img src="/assets/img/oferta6.JPG" class="editOffers" alt="..." />
        </a>
      </li>
      <li class="col-3 mt-3">
        <a class="go-offers">
          <img src="/assets/img/oferta9.JPG" class="editOffers" alt="..." />
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-around">
    <div class="category-dogs-cats">
      <div>
        <h4 class="font-bold font-title-s m-4">
          Principais categorias para cachorros
        </h4>
      </div>
      <ul class="row">
        <li class="col-3"
          Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Acessorios para alimentação">
          <a class="category">
            <img
              src="/assets/img/cachorro-acessorios-para-alimentacao.jpg"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Medicina e saúde">
          <a class="category">
            <img
              src="/assets/img/cachorro-medicina-saude.jpg"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Higiene e limpeza">
          <a class="category">
            <img
              src="/assets/img/cachorro-higiene-limpeza.jpg"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Alimentação">
          <a class="category">
            <img
              src="/assets/img/dog-raçao-pate.png"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
      </ul>
    </div>
    <div class="category-dogs-cats">
      <div>
        <h4 class="font-bold font-title-s m-4">
          Principais categorias para gatos
        </h4>
      </div>
      <ul class="row">
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Acessorios para alimentação">
          <a class="category">
            <img
              src="/assets/img/gato-acessorios-para-alimentacao.jpg"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Areias">
          <a class="category">
            <img
              src="/assets/img/gato-areias.png"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Medicina e saúde">
                  <a class="category">
            <img
              src="/assets/img/gato-medicina-e-saude.jpg"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
        <li class="col-3"  Tooltip 
        data-bs-toggle="tooltip" 
        data-bs-placement="bottom" 
        data-bs-title="Alimentação">
          <a class="category">
            <img
              src="/assets/img/racoes-gato.png"
              class="editOffers"
              alt="..."
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="newsletter">
    <div class="sign-up">
      <h4 class="font-bold font-title-n m-4">
        Cadastre-se e fique sabendo das ofertas antes de todos!
      </h4>
      <form>
        <div class="input-group mb-3">
          <input type="text" class="input mx-4" placeholder="seu@Email.com" />
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Qual seu pet?</option>
            <option value="1">Cachorro</option>
            <option value="2">Gato</option>
            <option value="3">Ave</option>
            <option value="3">Roedor</option>
            <option value="3">Peixe</option>
            <option value="3">Reptil</option>
          </select>
          <button type="submit" class="btn btn-white">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
  <hr class="dropdown-divider" />
  <div class="footer">
    <div class="row">
      <div class="col-auto">
        <h5>Como podemos ajudar você?</h5>
        <h6>
          Conheça mais sobre nossa empresa, políticas e tenha o melhor
          atendimento do mercado pet 😍
        </h6>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <p><b> Atendimento</b></p>
            <p><a class="link"> Central de atendimento</a></p>
            <p><a class="link"> Assessoria de imprensa</a></p>
          </div>
          <div class="col">
            <p><b> Onde estamos</b></p>
            <a class="btn" href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
            <a class="btn" href="https://twitter.com/home" role="button"><i class="bi bi-twitter"></i></a>
            <a class="btn" href="https://www.youtube.com/" role="button"><i class="bi bi-youtube"></i></a>
            <a class="btn" href="https://www.instagram.com/" role="button"><i class="bi bi-facebook"></i></a>
            <a class="btn" href="https://www.instagram.com/" role="button"><i class="bi bi-whatsapp"></i></a>
          </div>
          <div class="col">
            <p><b> Politicas</b></p>
            <p><a class="link"> Aviso de privacidade</a></p>
            <p><a class="link"> Política de Cookies</a></p>
            <p><a class="link"> Política de entrega e devolução</a></p>
            <p><a class="link"> Política de compra</a></p>
          </div>
          <div class="col">
            <p><b>Institucional</b></p>
            <p><a class="link">Sustentabilidade </a></p>
            <p><a class="link">Empresa </a></p>
            <p><a class="link"> Termos e condições de uso </a></p>
            <p><a class="link">Canal de ética e conduta </a></p>
            <p><a class="link">Trabalhe conosco </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
