
.container-cart{
    background-color: #fbf9f7;
    width: 100%;
    height: 1000vh;

    h5{
        margin: 5% 10%;
    }
    .section-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
        .card-iten{
            background-color: white;
            width: 70%;
        }
        .resumeValues{
            background-color: white;
            width: 25%;
        }
    }
}