    
    .purchase-order {
        // display         : flex;
        // align-items     : center;
        // justify-content : space-around;
        width           : 75%;
        margin          : auto;
        background-color: white;
        max-height      : 60%; 

        .btn {
            text-decoration: none;
            box-shadow     : none;
            cursor         : pointer;
            border         : none;
        } 

        .form-group{
            .form-control{
                text-decoration: none;
                box-shadow     : none;
                cursor         : pointer;
            }
        }
    }
