<div class="container-login">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-6">
        <img src="assets/img/criar-senha.jpg" class="img-fluid" alt="..." />
      </div>
      <div class="col-4">
        <div class="card-input">
          <form [formGroup]="formlogin" class="login-box" (ngSubmit)="submit()">
            <label class="input">
              <input
                class="input__field form-control shadow-none"
                type="text"
                placeholder=" "
                id="name"
                required
                formControlName="name"
              />
              <span class="input__label" Título do Cargo> Nome completo </span>
            </label>
            <label class="input">
              <input
                class="input__field form-control shadow-none"
                type="text"
                placeholder=" "
                id="email"
                required
                formControlName="email"
              />
              <span class="input__label" Título do Cargo> Email </span>
            </label>
            <label class="input">
              <input
                class="input__field form-control shadow-none"
                type="text"
                placeholder=" "
                id="phone"
                required
                formControlName="phone"
              />
              <span class="input__label" Título do Cargo> Telefone </span>
            </label>
            <label class="input">
              <input
                class="input__field form-control shadow-none"
                type="text"
                placeholder=" "
                id="password"
                required
                formControlName="senha"
              />
              <span class="input__label">Senha</span>
            </label>
          </form>
          <button
            type="submit"
            class="btn btn-purple"
            [disabled]="!formlogin.valid"
            [routerLink]="['/login']"
          >
            Criar conta
          </button>
          <button
            type="button"
            [routerLink]="['/login']"
            class="btn cancel-btn -cancel"
          >
            Voltar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
