.container-login {
    background     : #f8f1fd;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.card {
    background   : white;
    width        : 95%;
    padding      : 0px;
    position     : relative;
    border-radius: 16px;
    border       : 2px solid #fff;

    .row {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }
}

.card-input {
    margin         : 1rem;
    padding-left   : 75px;
    display        : grid;
    justify-content: center;
    align-items    : center;
}

.login-box {
    min-width      : 290px;
    max-width      : 343px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.img-fluid {
    border-radius: 60px;
    border       : 2px solid #fff;
    max-width    : 100%;
    margin-left  : 50px;

}

.input {
    margin-top: 20px;
    position  : relative;
    width     : 100%;
    cursor    : pointer;

    &:focus {
        border: 0.8px solid #a37abe !important;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    &__label {
        position        : absolute;
        left            : 9px;
        top             : 9px;
        font            : normal normal 14px/17px;
        letter-spacing  : 0px;
        color           : #a37abe;
        opacity         : 0.5;
        background      : #fff;
        white-space     : nowrap;
        transform       : translate(0, 0);
        transform-origin: 0 0;
        transition      : transform 120ms ease-in;
        padding-left    : 3px;
        padding-right   : 3px;
    }

    &__field {
        height       : 35px;
        width        : 100%;
        padding      : 0.375rem 0.75rem;
        box-sizing   : border-box;
        display      : block;
        border       : 0.8px solid #a37abe;
        border-radius: 6px;


        &:focus,
        &:not(:placeholder-shown) {
            &+.input__label {
                transform: translate(-2px, -110%);
                color    : #59277a;
                font-size: 12px;
                opacity  : 1;
            }
        }
    }
}

.a-link {
    color      : #59277a;
    font-weight: bold;
}
.a-forgot{
    color      : #a37abe;  
   margin-left:  150px;
    font-size: small;
    text-decoration: none;
}
.viewPassword {
    position: absolute;
    width: 40px;
    right: 5px;
    top: -2px;
    cursor: pointer;
  }

.btn-purple {
    margin-top   : 10px;
    margin-bottom: 20px;
    color        : #fff;
    background   : transparent linear-gradient(180deg, #a37abe 0%, #b488d2 100%) 0% 0% no-repeat padding-box;
    box-shadow   : 0px 2px 6px #00000029;
    border-radius: 12px;
    opacity      : 1;
    font-size    : 1rem;
    padding      : 9px 12px;
    cursor       : pointer;
    box-shadow   : none;
    

    &:hover {
        background-color: #280645;
    }
}

.btn-white {
    margin-top   : 20px;
    color        : #565454;
    background   : rgb(251, 249, 247);
    box-shadow   : 0px 2px 6px #84848429;
    border-radius: 12px;
    opacity      : 1;
    font-size    : 1rem;
    padding      : 9px 12px;
    cursor       : pointer;
    font-weight: bold;

    &:hover {
        background-color: rgb(231, 228, 228);
    }
}

.btn-blue {
    margin-top   : 10px;
    color        : #fff;
    background   : rgb(59, 89, 152);
    box-shadow   : 0px 2px 6px #00000029;
    border-radius: 12px;
    opacity      : 1;
    font-size    : 1rem;
    padding      : 9px 12px;
    cursor       : pointer;
    font-weight: bold;

    &:hover {
        background-color: rgb(15, 43, 102);
    }
}