<app-nav-bar> </app-nav-bar>
<div class="container-itens">
  <div class="d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/promo1.JPG" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/assets/img/promo2.JPG" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="/assets/img/promo3.JPG" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <i class="bi bi-caret-left-fill"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <i class="bi bi-caret-right-fill"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="offers">
    <div class="font-bold font-title-s my-4">
      <h4>Ofertas em destaque</h4>
    </div>
    <ul class="row">
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta1.JPG" class="" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta2.JPG" class="" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta3.JPG" class="" alt="..." />
        </a>
      </li>
      <li class="col-3">
        <a class="go-offers">
          <img src="/assets/img/oferta4.JPG" class="" alt="..." />
        </a>
      </li>
    </ul>
  </div>
</div>
