<div class="nav-container">
  <div class="">
    <div class="nav-menu">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">PitShop</a>
          <form class="search" role="search">
            <input
              class="form-control form-search"
              type="search"
              placeholder="Para seu pet ou para sua casa"
              aria-label="Search"
            />
            <button class="btn" type="submit">
              <i class="bi bi-search-heart"></i>
            </button>
          </form>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-3"
               Tooltip 
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom" 
              data-bs-title="Endereço de entrega">
                <a class="nav-link disabled" 
                >04252-000</a>
              </li>
              <li class="nav-item mx-3">
                <button
                  type="button"
                  class="btn btn-secondary" 
                  Tooltip 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="bottom" 
                  data-bs-title="Carrinho"
                >
                  <i class="bi bi-basket-fill"></i>
                </button>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Meus pedidos <i class="bi bi-box2-heart-fill ms-1"></i
                ></a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#"
                  >Favoritos <i class="bi bi-heart-half"></i>
                </a>
              </li>              
              <li class="nav-item mx-3 dropdown">
                <a 
                  class="nav-link dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown">
                  Meus pets
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Scooby</a></li>
                  <li><a class="dropdown-item" href="#">Niklaus</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <hr class="dropdown-divider" />
    <div class="nav-itens">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Cachorro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Gato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Aves </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Roedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Peixes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Outlet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Doações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Serviços</a>
        </li>
      </ul>
    </div>
  </div>
</div>