@import "../../../assets/scss/breakpoints.scss";
.nav-container {
    background-color: #fbf9f7;

    .dropdown-divider {
        height          : 1px;
        margin-bottom   : 20px;
        overflow        : hidden;
        background-color: rgb(235 205 217);
    }

    .nav-menu {
        display        : flex;
        justify-content: center;

        .nav-bar {
            background-color: transparent;
        }

        .container-fluid {
            display        : flex;
            justify-content: space-around;
            align-items    : center;
            font-size      : 16px;
            font-weight    : 600;
            margin         : 20px;
            font-family    : 'Poppins', sans-serif;

            .search {
                display: flex;

                .form-search {
                    height       : 40px;
                    min-width    : 259px;
                    border-color : rgb(249 238 242);
                    border-radius: 10px;
                    box-shadow   : none;
                }

                .btn {
                    box-shadow: none;
                    border    : none;
                    width     : 45px;

                    .bi-search-heart {
                        color       : rgb(215 15 97);
                        margin-top  : 8px;
                        margin-right: 50px;
                        cursor      : pointer;
                    }
                }

            }

            .navbar-brand {
                width      : 9.5rem;
                font-size  : 30px;
                font-weight: bolder;
                color      : rgb(215 15 97);
                font-family: 'Sedgwick Ave Display', cursive;
            }

            .nav-item {
                cursor       : pointer;
                border-radius: 0.25rem 0.25rem 0 0 !important;
                padding      : 0.5rem 1rem 0 1rem;

                @include for-small-monitor {
                    padding: 0rem;
                }

                .btn {
                    background-color: transparent;
                    border          : none;
                    box-shadow      : none;
                    height          : 25px;
                }

                .bi-basket-fill {
                    color: rgb(215 15 97);

                }

                .nav-link {
                    color           : rgb(215 15 97);
                    border          : none;
                    box-shadow      : none;
                    background-color: transparent;
                }
            }

        }
    }

    .nav-itens {
        display        : flex;
        justify-content: center;

        .nav-tabs {
            border-bottom: transparent;
        }

        .nav-link {
            color           : #c11828;
            font-family     : 'Poppins', sans-serif;
            border          : none;
            box-shadow      : none;
            background-color: transparent;

            &:hover {
                border-radius   : 0.8px solid rgb(215 15 97) !important;
                border          : 0.25rem 0.25rem 0 0;
                background-color: white;
                border-bottom   : 1px solid #c11828;
                font-weight: 500;
            }
        }
    }


}