<div class="nav-container">
  <div>
    <div class="nav-menu">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Pitshop</a>
          <form class="search" role="search">
            <input
              class="form-control form-search"
              type="search"
              placeholder="Oque seu pet precisa hoje?"
              aria-label="Search"
            />
            <button class="btn" type="button">
              <i class="bi bi-search-heart"></i>
            </button>
          </form>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mx-3"
               Tooltip 
              data-bs-toggle="tooltip" 
              data-bs-placement="bottom" 
              data-bs-title="Endereço de entrega">
                <a class="nav-link disabled" 
                >04252-000 <i class="bi bi-geo-alt"></i></a>
              </li>
              <li class="nav-item mx-3">
                <a
                  type="button"
                  class="btn btn-secondary" 
                  Tooltip 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="bottom" 
                  data-bs-title="Carrinho"
                  href="/cart"
                >
                  <i class="bi bi-basket-fill"></i>
                </a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Meus pedidos <i class="bi bi-box2-heart-fill ms-1"></i
                ></a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="#"
                  >Favoritos <i class="bi bi-heart-half"></i>
                </a>
              </li>              
              <li class="nav-item mx-3 dropdown">
                <a
                id="dropdownMenuButton1"
                 data-bs-toggle="dropdown"
                  aria-expanded="false"
                  class="nav-link dropdown-toggle"
                  role="button"
                  >
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a class="dropdown-item" href="#"><i class="bi bi-emoji-heart-eyes me-2"></i>Meus pets</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-person-fill-gear me-2"></i>Meus dados</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-stars me-2"></i>Avaliar produtos</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-headset me-2"></i>Atendimento</a></li>
                  <li><a class="dropdown-item" href="/login"><i class="bi bi-box-arrow-right me-2"></i>Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <hr class="dropdown-divider" />
    <div class="nav-itens">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products/dogs">Cachorro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/products/cats">Gato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Aves </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Roedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Peixes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Outlet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Doações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Serviços</a>
        </li>
      </ul>
    </div>
  </div>
</div>